!doctype html
html
    head
        meta(charset='UTF-8')
        // Prevent bowser caching
        meta(http-equiv='cache-control' content='no-cache')
        meta(http-equiv='expires' content='0')
        meta(http-equiv='pragma' content='no-cache')
        title: test
    body
        div(id='qunit')
        div(id='qunit-fixture')
        script(type='text/javascript').
            if ($.Tools().stringGetURLVariable('noglobals') === undefined)
                if (document.URL.indexOf('?') is -1)
                    window.location = document.URL + '?noglobals=true'
                else
                    window.location = document.URL + '&noglobals=true'

// -
    region vim modline
    vim: set tabstop=4 shiftwidth=4 expandtab:
    vim: foldmethod=marker foldmarker=region,endregion:
    endregion
